* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header */

header {
    background-color: #657959;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}
.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.logo-container {
    display: flex;
    align-items: center;
    gap: 0px; 
}
.logo {
    width: 200px;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}
.nav-links {
    display: flex;
    gap: 5px; 
    margin-left: 5px; 
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.button {
    background-color: #ECE9D4;
    color: #657959;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
.button:hover {
    opacity: 0.8;
}

#botao{
    background-color: #657959;
}

/* formulario /*

/* Fonte e reset básico */
main{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cacaca54;
    font-family: 'Inria Serif', sans-serif;
}

/* Container centralizado */
.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Estilização do formulário */
.login-form h2 {
    margin-bottom: 15px;
    color: #333;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #657959;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #ffdddd;
    cursor: pointer;
  
}

button:hover {
    background-color: #e0c79b;
}

p{
    margin-top: 50px;
    
}